<%- include('partials/header' , { title: 'Profile' })-%>
<div class="d-flex flex-column text-start">
    <h1><%= user.name %></h1>
    <p><strong>Email : </strong><%= user.email %></p>
</div>

<%- include('partials/footer')-%>